
 <div class="header-sub">My Dashboard</div>
 <div class="col-md-12 float-left mtb10">
    <div class="col-md-5 float-left bg-white">
        <h6 class="p-2 m-0 font-weight-bold">Latest Tickets</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pt-2 py-2 pl-1 pr-1">
                <div class="float-left"><span class="flaticon-success"></span>&nbsp;&nbsp;UI Design Test Cases</div>
                <div class="float-right">
                    <span class="grp-text">HR Department</span>
                    <span class="datetext">Mar 15</span>
                </div>
            </li>
            <li class="list-group-item pt-2 py-2 pl-1 pr-1">
                <div class="float-left"><span class="flaticon-success"></span>&nbsp;&nbsp;UI Design Test Cases</div>
                <div class="float-right">
                    <span class="grp-text">Networking</span>
                    <span class="datetext">Mar 15</span>
                </div>
            </li>
            <li class="list-group-item pt-2 py-2 pl-1 pr-1">
                <div class="float-left"><span class="flaticon-success"></span>&nbsp;&nbsp;UI Design Test Cases</div>
                <div class="float-right">
                    <span class="grp-text">Help Desk</span>
                    <span class="datetext">Mar 15</span>
                </div>
            </li>
            <li class="list-group-item pt-2 py-2 pl-1 pr-1">
                <div class="float-left"><span class="flaticon-success"></span>&nbsp;&nbsp;UI Design Test Cases</div>
                <div class="float-right">
                    <span class="grp-text">HR Department</span>
                    <span class="datetext">Mar 15</span>
                </div>
            </li>
            <li class="list-group-item pt-2 py-2 pl-1 pr-1">
                <div class="float-left"><span class="flaticon-success"></span>&nbsp;&nbsp;UI Design Test Cases</div>
                <div class="float-right">
                    <span class="grp-text">Admin</span>
                    <span class="datetext">Mar 15</span>
                </div>
            </li>
            
        </ul>
    </div> 
    <div class="col-md-7 float-left">
        <div class="panel-body">
            <div [chart]="chart"></div>
        </div>
    </div> 
    
 </div>
 <div class="col-md-12 float-left">
    <div class="col-md-4 float-left bg-white">
        <h6 class="p-2 m-0 font-weight-bold">Inbox</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pt-2 py-2 pr-0 pl-0">
                <div class="col-md-10 float-left p-0">
                    <div class="float-left profile-pic-one"><img src="/assets/images/profilepic1.jpg"></div>
                    <div class="float-left">Sandra Smith</div><br>
                    <p class="m-0 datetext-grey">Hey! Iam working on your</p>
                </div>
                <div class="col-md-2 float-right p-0">
                    <span class="datetext-grey">Mar 15</span>
                </div>
            </li>
            <li class="list-group-item pt-2 py-2 pr-0 pl-0">
                <div class="col-md-10 float-left p-0">
                    <div class="float-left profile-pic-one"><img src="/assets/images/profilepic2.jpg"></div>
                    <div class="float-left">Sandra Smith</div><br>
                    <p class="m-0 datetext-grey">Hey! Iam working on your</p>
                </div>
                <div class="col-md-2 float-right p-0">
                    <span class="datetext-grey">Mar 15</span>
                </div>
            </li>
            
        </ul>
    </div>
    <div class="col-md-6 float-left bg-white">
        <h3>Calender</h3>
    </div>
    <div class="col-md-2 float-left bg-white">
            <h6 class="p-2 m-0 font-weight-bold">Groups</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item pt-2 py-2 pl-1 pr-1">
                    <div class="float-left">HR Department</div>
                    <div class="float-right">
                        <span class="datetext">13</span>
                    </div>
                </li>
                <li class="list-group-item pt-2 py-2 pl-1 pr-1">
                    <div class="float-left">Networking</div>
                    <div class="float-right">
                        <span class="datetext">03</span>
                    </div>
                </li>
            </ul>
    </div>

 </div>

 <!-- <form (ngSubmit)="status()">
      <label >Status</label>
      <select>
         <option *ngFor="let user of arrBirds" >
               {{ user.name }}
          </option>
    </select>
    </form>-->

   
    <!--div class="col-md-12 mtb30 float-left">
      <div class="col-md-6 float-left">
            <div class="panel-body">
                    <div [chart]="chart"></div>
            </div>
      </div>
      <div class="col-md-6 float-left">
            <div class="panel-body">
                    <div [chart]="chart"></div>
            </div>
      </div>
      
    </div-->